// --------------------------------------------------------------------
// Base Styling
// --------------------------------------------------------------------
* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 10px;
}

body {
  color: $black;
  font-family: $ff-base;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include fw(bold);
  font-family: $font-secondary;
  color: $slate;
  margin-top: 0;
  margin-bottom: 2rem;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1rem;
}

@include md {
  h1 {
    font-size: 4.0rem;
  }
  h2 {
    font-size: 3.5rem;
  }
  h3 {
    font-size: 3rem;
  }
  h4 {
    font-size: 2.5rem;
  }
  h5 {
    font-size: 2rem;
  }
  h6 {
    font-size: 1.5rem;
  }
}

#main {
  height: 100%;
  display: flex;
  flex-direction: column;
}
